:root {
  --font: "Rubik", sans-serif;
  --oscuro: #282832;
  --vino: #6797a3;
  --red: #a92727;
  --gray: #f3f3ef;
  --light: #dee7e7;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
  height: 100%;
  background-color: var(--light);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  margin: 0;
  width: 400px;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  background-color: var(--vino);
  padding: 3rem;
  border-radius: 1.2rem;
  box-shadow: 0px 0px 42px -14px rgba(0, 0, 0, 0.49);
}

.container__screen {
  background-color: var(--gray);
  padding: 1.6rem;
  font-weight: 700;
  color: var(--oscuro);
  text-align: end;
  font-size: 2.4rem;
  height: 2.8rem;
  box-shadow: inset 0px 0px 42px -14px rgba(0, 0, 0, 0.49);
}

.container__numbers {
  padding-top: 3rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  height: 25rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.button {
  font-family: var(--font);
  width: calc(25% - 1rem);
  border: none;
  border-radius: 0.5rem;
  font-size: 2.2rem;
  box-shadow: 0px 0px 42px -14px rgba(0, 0, 0, 0.49);
  transition: all 200ms ease-in-out;
}

.button--delete {
  background-color: var(--red);
  color: var(--light);
}

.button--sign {
  font-weight: 900;
}

.button--clear {
  background-color: var(--oscuro);
  color: var(--light);
}

.button:active {
  background-color: var(--oscuro);
  color: var(--gray);
}

.button--clear:active {
  background-color: var(--light);
  color: var(--oscuro);
}

@media screen and (max-width: 480px) {
  .container {
    width: 85%;
    padding: 2rem;
  }
}
